{% comment %} {{ 'banner-product.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% comment %} {{ 'tailwind.output.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'section-swiper.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-swiper.js' | asset_url }}" defer></script>
<script src="{{ 'banner-product.js' | asset_url }}" defer></script>
<script src="{{ 'theme-toggle.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="banner-product section-{{ section.id }} section-{{ section.id }}-padding tw:dark:bg-black tw:relative">
  <div class="page-width tw:max-w-7xl tw:p-1 tw:mx-auto tw:flex tw:justify-end ">
    <button
      id="theme-toggle"
      class="tw:w-14 tw:h-8 tw:bg-gray-300 tw:dark:bg-gray-700 tw:rounded-full tw:p-1 tw:flex tw:items-center tw:transition-all tw:duration-500 tw:mb-4"
      aria-label="Toggle dark mode"
    >
      <span
        class="toggle-circle tw:w-6 tw:h-6 tw:bg-white tw:dark:bg-black tw:rounded-full tw:shadow-md tw:flex tw:items-center tw:justify-center tw:transform tw:transition-all tw:duration-500"
      >
        <span class="tw:w-4 tw:h-4 tw:text-yellow-500 tw:dark:hidden">
          {{ 'icon-light.svg' | inline_asset_content  }}
        </span>
        <span class="tw:w-4 tw:h-4 tw:hidden tw:dark:block tw:text-yellow-300">
          {{ 'icon-dark.svg' | inline_asset_content }}
        </span>
      </span>
    </button>
  </div>
  <div class="page-width tw:max-w-7xl tw:p-1 tw:mx-auto">
    {%- liquid
      assign product = section.settings.product | default: product
    -%}
    {% if product != blank %}
      <div class="gallary-intro-container tw:!box-border tw:flex tw:gap-8 tw:flex-col tw:lg:flex-row">
        {%- if product.has_only_default_variant -%}
          {% if product.featured_image != blank %}
            {{
              product.featured_image
              | image_url: width: 600
              | image_tag:
                alt: product.title,
                loading: 'lazy',
                class: 'main-image tw:w-full tw:lg:w-1/2 tw:object-cover tw:aspect-square'
            }}
          {% else %}
            {{
              'no-image.svg'
              | asset_url
              | image_tag: alt: product.title, class: 'main-image tw:w-full tw:lg:w-1/2 tw:object-cover tw:aspect-square'
            }}
          {%- endif -%}
        {%- else -%}
          <div class="product-gallery-section tw:w-full tw:lg:w-1/2" data-media="{{ product.media | json | escape }}">
            <div class="container tw:mx-auto tw:flex tw:flex-col-reverse tw:gap-2 tw:w-full tw:lg:flex-row">
              {% comment %} Thumbs {% endcomment %}
              <div class="swiper mySwiper tw:w-full tw:h-fit tw:lg:h-[454px] tw:lg:h-454 tw:lg:w-1/6">
                <div class="swiper-wrapper tw:h-full">
                  {%- unless product.images == blank -%}
                    {%- assign images_only = product.media | where: 'media_type', 'image' -%}
                    {%- assign filtered_images = images_only | where: 'alt', 'white' -%}
                    {% for image in filtered_images %}
                      <div class="swiper-slide tw:w-fit tw:h-fit">
                        <img
                          src="{{ image.src | image_url: width: 88 }}"
                          width="88"
                          height="88"
                          alt="{{ image.alt | escape }}"
                          class="tw:object-contain tw:aspect-square"
                        >
                      </div>
                    {% endfor %}
                  {%- endunless -%}
                </div>
              </div>

             {% comment %} Main Swiper {% endcomment %}
              <div class="swiper mySwiper2 tw:w-full tw:h-fit tw:lg:w-5/6 tw:lg:h-[454px] tw:lg:h-454">
                <div class="swiper-wrapper tw:h-full">
                  {%- assign images_only = product.media | where: 'media_type', 'image' -%}
                  {%- assign filtered_images = images_only | where: 'alt', 'white' -%}
                  {% for image in filtered_images %}
                    <div class="swiper-slide">
                      <img
                        src="{{ image.src | image_url: width: 600 }}"
                        width="584"
                        height="584"
                        alt="{{ image.alt | escape }}"
                        class="tw:object-contain tw:aspect-square"
                      >
                    </div>
                  {% endfor %}
                </div>
                {% comment %} <div class="swiper-button-next tw:hidden"></div>
                <div class="swiper-button-prev tw:hidden"></div> {% endcomment %}
              </div>
            </div>
          </div>
        {%- endif -%}
        <div class="product-info tw:w-full tw:lg:w-1/2 tw:mx-auto tw:lg:mx-0">
          {% if product.title != blank %}
            <h1 class="tw:mb-4 tw:dark:!text-white">{{- product.title -}}</h1>
          {% endif %}

          {% capture product_price %}
            {{ product.selected_or_first_available_variant.price | money }}
          {% endcapture %}
          <div class="product-price tw:mb-2 tw:text-inherit tw:text-2xl tw:dark:text-white" id="product-price">
            {{- product_price -}}
          </div>

          <div class="stock tw:mb-4 tw:text-gray-500 tw:text-base tw:dark:text-white" id="product-stock">
            {% if product.selected_or_first_available_variant.inventory_management != blank %}
              {% if product.selected_or_first_available_variant.inventory_quantity > 1 %}
                <span>
                  {{- 'product.banner.in_stock' | t }}
                  {{- product.selected_or_first_available_variant.inventory_quantity }}
                  {{ 'product.banner.units' | t -}}
                </span>
              {% elsif product.selected_or_first_available_variant.inventory_quantity > 0 %}
                <span>
                  {{- 'product.banner.in_stock' | t -}}
                  {{- product.selected_or_first_available_variant.inventory_quantity -}}
                  {{- 'product.banner.unit' | t -}}
                </span>
              {% else %}
                <span>
                  {{- 'product.banner.not_available' | t -}}
                </span>
              {% endif %}
            {% else %}
              {% if product.selected_or_first_available_variant.available -%}
                {{- 'product.banner.in_stock' | t -}}
              {%- else -%}
                {{- 'product.banner.not_available' | t -}}
              {%- endif %}
            {% endif %}
          </div>

          {% assign color_option = '' %}
          {% assign size_option = '' %}
          {% if product.options_with_values != blank %}
            {% form 'product', product, id: 'product-form' %}
              {%- for option in product.options_with_values -%}
                {% assign option_name = option.name | downcase %}
                {% case option_name %}
                  {% when 'color', 'colour', 'цвет' %}
                    {%- render 'product-option-selector',
                      option: option,
                      option_type: 'color',
                      product: product,
                      limit: 3
                    -%}
                    {% assign color_option = option_name %}
                  {% when 'size', 'shoe size', 'размер обуви' %}
                    {%- render 'product-option-selector', option: option, option_type: 'size', product: product -%}
                    {% assign size_option = option_name %}
                {% endcase %}
              {%- endfor -%}

              {% comment %} {# ——— Hidden select ——— #} {% endcomment %}
              <select name="id" id="variant-select" class="tw:hidden">
                {%- for variant in product.variants -%}
                  <option
                    value="{{ variant.id }}"
                    data-color="{{ variant.option1 }}"
                    data-size="{{ variant.option2 }}"
                    data-image="{{ variant.featured_image | image_url: width: 600 }}"
                    data-price="{{ variant.price | money }}"
                    data-stock="
                      {% if variant.inventory_management != blank %}
                          {% if variant.inventory_quantity > 1 %}
                              {{ 'product.banner.in_stock' | t }}
                              {{ variant.inventory_quantity }}
                              {{ 'product.banner.units' | t }}
                          {% elsif variant.inventory_quantity > 0 %}
                              {{ 'product.banner.in_stock' | t }}
                              {{ variant.inventory_quantity }}
                              {{ 'product.banner.unit' | t }}
                          {% else %}
                              {{ 'product.banner.not_available' | t }}
                          {% endif %}
                      {% else %}
                          {% if variant.available -%}
                          {{- 'product.banner.in_stock' | t -}}
                          {%- else -%}
                          {{- 'product.banner.not_available' | t -}}
                          {%- endif %}
                      {% endif %}
                    "
                    data-available="{{ variant.available }}"
                    {% if variant == product.selected_or_first_available_variant %}
                      selected
                    {% endif %}
                  >
                    {{ variant.title }}
                  </option>
                {%- endfor -%}
              </select>

              {% if color_option == blank or size_option == blank %}
                <div class="no-option-wrapper">
                  {% if color_option == blank %}
                    <div class="no-option">{{ 'product.banner.one_color' | t }}</div>
                  {% endif %}
                  {% if size_option == blank %}
                    <div class="no-option">{{ 'product.banner.one_size' | t }}</div>
                  {% endif %}
                </div>

                {% if product.description != blank %}
                  <div class="product-description">
                    {{ product.description }}
                  </div>
                {% endif %}
              {% endif %}

              <div class="custom-form-actions tw:mb-4 tw:w-full tw:flex tw:justify-center">
                <button
                  type="submit"
                  class="
                    tw:btn tw:w-full tw:max-w-3xs tw:px-8 tw:py-3 tw:text-center tw:font-medium tw:text-white tw:bg-black tw:hover:bg-gray-800 focus:tw:outline-none focus:tw:ring-2 tw:rounded-md focus:tw:ring-offset-2 focus:tw:ring-black
                    disabled:tw:opacity-25 disabled:tw:cursor-not-allowed tw:dark:bg-white tw:dark:text-black tw:dark:hover:bg-gray-200 dark:focus:tw:ring-white
                  "
                  {% unless product.selected_or_first_available_variant.available %}
                    disabled
                  {% endunless %}
                >
                  {% if product.selected_or_first_available_variant.available %}
                    {{ 'product-form.inquiry.submit' | t }}
                  {% else %}
                    {{ 'product-form.inquiry.sold_out' | t }}
                  {% endif %}
                </button>

                {% unless product.selected_or_first_available_variant.available %}
                  <div role="status" aria-live="polite" class="availability-message">
                    {{ 'product-form.inquiry.unavailable_message' | t }}
                  </div>
                {% endunless %}
              </div>
              {% if product.description != blank %}
                <div class="product-description tw:text-brand-gray tw:text-black tw:font-medium tw:text-base tw:dark:text-white">
                  {{ product.description }}
                </div>
              {% endif %}
            {% endform %}
          {% endif %}
        </div>
      </div>
    {% else %}
      <h2 class="banner-heading tw:text-brand-gray tw:text-black tw:font-medium tw:dark:text-white tw:text-2xl tw:text-center">
        {{ 'product.banner.no_product' | t }}
      </h2>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.promo-banner-product.name",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.promo-banner-product.settings.product.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.promo-banner-product.settings.padding.padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.promo-banner-product.settings.padding.padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Banner product"
    }
  ]
}
{% endschema %}
