{% comment %} Section: Feature products {% endcomment %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{{ 'feature-products.css' | asset_url | stylesheet_tag }}
<script src="{{- 'feature-products.js' | asset_url -}}" defer="defer"></script>
{% assign target_collection = collections[section.settings.collection] | default: collection %}

<section
  id="featured-products-{{ section.id }}"
  class="featured-products section-{{ section.id }}-padding"
  data-section-id="{{ section.id }}"
  data-collection-handle="{{ target_collection.handle }}"
>
  <div class="featured-products__container container page-width">
    {%- if section.settings.heading != blank -%}
      <h2 class="featured-products__heading">{{ section.settings.heading }}</h2>
    {%- endif -%}

    {%- if target_collection != blank -%}
      {% comment %} Sorting dropdown {% endcomment %}
      <small>{{- 'featured-products.select.sort_by' | t | default: 'Sort by:' -}}</small>
      <select
        id="sort-by-{{ section.id }}"
        name="sort-by"
        class="featured-products__select"
      >
        <option value="best-selling">
          {{- 'featured-products.select.best-selling' | t | default: 'Best Selling' -}}
        </option>
        <option value="price-low">
          {{- 'featured-products.select.price-low' | t | default: 'Price: Low to High' -}}
        </option>
        <option value="price-high">
          {{- 'featured-products.select.price-high' | t | default: 'Price: High to Low' -}}
        </option>
        <option value="title-ascending">
          {{- 'featured-products.select.title-ascending' | t | default: 'Alphabetically, A–Z' -}}
        </option>
      </select>
    {%- endif -%}

    <div class="featured-products-grid">
      <div class="scroll-content">
        {%- for product in target_collection.products limit: section.settings.products_count -%}
          <div
            class="product-card"
            data-product-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-title="{{ product.title | escape }}"
          >
            <a href="{{ product.url  }}" aria-label="details {{ product.title | escape }}">
              {%- if product.featured_image != blank -%}
                {{ product.featured_image | image_url: width: 400 | image_tag: alt: product.title }}
              {%- else -%}
                {{ 'product-2' | placeholder_svg_tag: 'Placeholder image' }}
              {%- endif -%}
              <h3>{{- product.title | default: 'Product title' | escape -}}</h3>
            </a>
            {%- if section.settings.show_price -%}
              <p class="product-price">
                {%- if product.compare_at_price > product.price -%}
                  <s class="product-price--original">{{ product.compare_at_price | money_with_currency }}</s>
                  <span class="product-price--sale"
                    >From
                    {{ product.price | money_with_currency }}
                  </span>
                {%- else -%}
                  <span class="product-price--regular">{{ product.price | money_with_currency }}</span>
                {%- endif -%}
              </p>
            {%- endif -%}
            {%- if section.settings.show_rating -%}
              <div class="product-card__rating">⭐ {{ product.metafields.reviews.rating.value | default: '5.0' }}</div>
            {%- endif -%}
            {%- if section.settings.show_add_to_cart and product.available -%}
              {% assign first_variant = product.first_available_variant %}
              <form
                class="add-to-cart-form"
                action="{{ routes.cart_add_url }}"
                method="post"
                data-section-id="{{ section.id }}"
              >
                <input type="hidden" name="id" value="{{ first_variant.id }}">

                <button
                  type="submit"
                  id="add-to-cart-{{ first_variant.id }}"
                  class="product-card__btn"
                  data-product-id="{{ product.variants.first.id }}"
                  data-quick-view
                  data-product-handle="{{ product.handle }}"
                  aria-label="Add {{ product.title | escape }} to cart"
                  {%- if product.selected_or_first_available_variant.available == false
                    or product.selected_or_first_available_variant == null
                  -%}
                    disabled
                  {%- endif -%}
                >
                  {%- if product.selected_or_first_available_variant.available == false
                    or product.selected_or_first_available_variant == null
                  -%}
                    {{ 'featured-products.cart.sold-out' | t: default: 'Sold Out' }}
                  {%- endif -%}
                  {{ 'featured-products.cart.add-to-cart' | t: default: 'Add To Cart' }}
                </button>
              </form>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  {%- render 'quick-view' -%}
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "t:sections.featured-products.name"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_count",
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "t:sections.featured-products.settings.number_of_products.label",
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:sections.featured-products.settings.show_price.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "t:sections.featured-products.settings.show_rating.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_add_to_cart",
      "label": "t:sections.featured-products.settings.show_add_to_cart.label",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.featured-products.settings.padding.padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.featured-products.settings.padding.padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-products.presets.name"
    }
  ]
}
{% endschema %}
