<footer class="site-footer" role="contentinfo">
  <div class="container">
    <nav aria-label="{{ 'a11y.footer_nav' | t }}">
      <a href="{{ routes.account_login_url }}">{{ 'footer.login' | t }}</a>
      <a href="{{ routes.search_url }}">{{ 'footer.search' | t }}</a>
    </nav>
    <small>&copy; {{ 'footer.copyright' | t }}
      {{ shop.name | escape }}</small>
  </div>
</footer>
