{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="site-header" role="banner">
  <div class="container">
    {% render 'logo' %}
    {% render 'nav-main' %}
    <a href="{{ routes.cart_url }}" aria-label="{{ 'a11y.open_cart' | t }}">
      <img
        src="{{ 'cart-icon.svg' | asset_url }}"
        alt="{{ 'header.cart' | t }}"
        width="24"
        height="24"
        loading="lazy"
        class="cart__img"
      >
    </a>
  </div>
</header>


