{{ 'promo-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  class="promo-banners color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
>
  <div class="container">
    <div class="promo-banners__header-wrapper text-alignment-{{ section.settings.text_alignment }}">
      {%- if section.settings.heading != blank -%}
        <h2 class="promo-banners__heading">{{ section.settings.heading | escape }}</h2>
      {%- endif -%}

      {%- if section.settings.subheading != blank -%}
        <div class="promo-banners__subheading">{{ section.settings.subheading }}</div>
      {%- endif -%}

      <div class="promo-banners__grid">
        {%- for block in section.blocks -%}
          <style>
            .promo-banners__item-{{ block.settings.aspect_ratio }} img,
            .promo-banners__item-{{ block.settings.aspect_ratio }} svg  {
              aspect-ratio: {{ block.settings.aspect_ratio  | replace: '_', '/' }};
            }
          </style>
          <div class="promo-banners__item promo-banners__item-{{ block.settings.aspect_ratio }}">
            {%- if block.settings.image != blank -%}
                 <img 
                  src="{{ block.settings.image | image_url: width: 800 }}" 
                  alt="{{ block.settings.title | escape }}"
                  width=""
                  height=""
                >
              {%- else -%}
                {{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}

            <div class="promo-banners__content">
              {% if block.settings.title %}
                <h3>{{ block.settings.title }}</h3>
              {% endif %}
            </div>

            {%- if block.settings.button_text != blank -%}
              <a
                {% if block.settings.button_link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link }}"
                {% endif %}
                class="section-button"
              >
                {{ block.settings.button_text | escape }}
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:settings_schema.sections.promo-banners.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:settings_schema.sections.promo-banners.settings.header_1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "t:settings_schema.sections.promo-banners.settings.heading.default",
      "label": "t:settings_schema.sections.promo-banners.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "t:settings_schema.sections.promo-banners.settings.subheading.default",
      "label": "t:settings_schema.sections.promo-banners.settings.subheading.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:settings_schema.sections.promo-banners.settings.text_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.sections.promo-banners.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.sections.promo-banners.settings.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.sections.promo-banners.settings.text_alignment.options__1.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:settings_schema.sections.promo-banners.settings.padding.padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:settings_schema.sections.promo-banners.settings.padding.padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:settings_schema.sections.promo-banners.settings.header_2.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:settings_schema.sections.promo-banners.settings.color_scheme.label",
      "default": "light",
      "options": [
        {
          "value": "light",
          "label": "t:settings_schema.sections.promo-banners.settings.color_scheme.options__1.label"
        },
        { "value": "dark", "label": "t:settings_schema.sections.promo-banners.settings.color_scheme.options__2.label" },
        {
          "value": "accent",
          "label": "t:settings_schema.sections.promo-banners.settings.color_scheme.options__3.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "t:settings_schema.sections.promo-banners.blocks.banner.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:settings_schema.sections.promo-banners.blocks.banner.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings_schema.sections.promo-banners.blocks.banner.settings.title.label",
          "default": "t:settings_schema.sections.promo-banners.blocks.banner.settings.title.default"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:settings_schema.sections.promo-banners.blocks.banner.settings.button_text.label",
          "default": "t:settings_schema.sections.promo-banners.blocks.banner.settings.button_text.default"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:settings_schema.sections.promo-banners.blocks.banner.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:settings_schema.sections.promo-banners.blocks.banner.settings.aspect_ratio.label",
          "default": "1_1",
          "options": [
            {
              "value": "16_9",
              "label": "t:settings_schema.sections.promo-banners.blocks.banner.settings.aspect_ratio.options__1.label"
            },
            {
              "value": "1_1",
              "label": "t:settings_schema.sections.promo-banners.blocks.banner.settings.aspect_ratio.options__2.label"
            },
            {
              "value": "3_2",
              "label": "t:settings_schema.sections.promo-banners.blocks.banner.settings.aspect_ratio.options__3.label"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Promo Banners",
      "category": "Banners",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "banner"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}

